*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* In your CSS file (e.g., styles.css) */
@font-face {
  font-family: 'CircularXXWeb-Book';
  src: url('./assets/fonts/CircularXXWeb-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CircularXXWeb-Medium';
  src: url('./assets/fonts/CircularXXWeb-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CircularXXWeb-Book', sans-serif;
}
