.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.heading {
  font-size: 48px;
  color: #555;
  margin: 0;
}

.subheading {
  font-size: 24px;
  color: #888;
  margin-top: 10px;
}